*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
img{
    max-width: 100%;
}
body{
    background-color: rgb(240, 240, 240);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(246, 246, 246);
    box-shadow: 10px 0px 10px rgb(214, 214, 214);
    font-size: 18px;
    color: #211f20;
    position:fixed;
    top: 0;
    z-index: 999;
}
.slogan{
    margin: 1rem;
    background: linear-gradient(to bottom right, #f48124 40%, #211f20);
    color: transparent;
    background-clip: text;
    font-weight: 400;
    text-shadow: #63391737 5px 4px 2.5px;
    font-size: 20px;
}
.left{
    margin-left: 15%;
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
}
.left img{
    width: 80px;
}
.right{
    display: flex;
    align-items: center;
    margin-right: 15%;
}
.shopping-cart{
    width: 40px;
    height: 40px;
    background-color: #f88b32d5;
    border-radius: 50%;
    background-clip: content-box;
}
.shopping-cart img{
    filter: invert(0.05);
    padding-right: 2px;
}
.shopping-cart:hover, li:hover{
    cursor: pointer;
}
.right ul{
    display: flex;
}
.right li{
    margin: 1rem;
}
.shopping-cart{
    margin-left: 3rem;
}

.shopping-area{
    margin: 10rem auto;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 4rem;
}
.product-container{
    width: 400px;
    max-height: 600px;
    color:#211f20;
    position: relative;
}
.hover-item{
    position: absolute;
    background-color: rgba(145, 145, 145, 0.83);
    box-sizing: content-box;
    width: 100%;
    height: 400px;
    display: none;
    align-items: center;
    justify-content: center;
}
.hover-item > button{
    border: none;
    background-color: whitesmoke;
    width: 40px;
    height: 25px;
    margin: 30px;
    border-radius: 2px;
    border: #211f20df 2px solid;
}
.hover-item > button:hover{
    cursor: pointer;
}
.hover-item > p{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.product-container img{
    border:rgb(214, 214, 214) 2px solid;
    object-fit: cover;
    height: 400px;
    width: 400px;
}
.product-container  *{
    margin: 0.5rem;
}
.product-container h4{
    border-bottom: 2px solid rgb(214, 214, 214);
    padding-bottom: 0.5rem;
}
.product-text-group {
    display: flex;
    flex-direction: column;
}
#coffee{
    filter:brightness(1.05);
    object-position: 0 60%;
}
.items-in-cart{
    position: absolute;
    max-width: 340px;
    min-width: 280px;
    grid-template-columns: 1fr;
    background-color: rgb(245, 245, 245);
    z-index: 12;
    border: 2px solid rgb(214, 214, 214);
}
.items-in-cart > * {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    padding: 4px;
}
.items-in-cart > div:last-child > p:nth-child(3){
    border-bottom: solid salmon 2px;
}
.items-in-cart > * > *{
    padding: 4px;
}
.top1{
    border-bottom: 1px solid rgb(214, 214, 214);
}